*, *::before, *::after {
  box-sizing: border-box;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-color: #e9f4ff;
}

.app h1 {
  text-align: center;
  padding: 30px;
  margin-top: 0%;
  background-color: #0A2540;
  color: white;
}